:root {
	--blue: #2c3e50;
	--green: #24b68b;
}
body {
	margin: 0;

	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: #111;
}

a:hover {
	text-decoration: underline;
}

.form-control:focus {
	border: 2px solid #2c3e50;
	outline: none;
	box-shadow: none;
}

.btn-submit {
	background-color: var(--green);
	padding: 0.5rem;
	border: none;
	color: #fff;
}
